# AI 服务配置
OPENAI_API_KEY=your-openai-api-key
OPENAI_BASE_URL=https://api.openai-proxy.org/v1
OPENAI_MODEL_NAME=gpt-5-nano

# 硅基流动 API
SF_API_KEY=your-siliconflow-api-key
SF_BASE_URL=https://api.siliconflow.cn/v1
SF_MODEL_NAME=Qwen/Qwen3-32B

# 阿里百炼 API
AL_BAILIAN_API_KEY=your-alibaba-api-key
AL_BAILIAN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
AL_BAILIAN_MODEL_NAME=qwen3-max
AL_BAILIAN_MODEL_NAME=qwen3-max

# LLM配置
MAIN_MODEL_NAME=Qwen/Qwen3-32B
SUB_MODEL_NAME=qwen3-max

# MySQL配置
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your-mysql-password
MYSQL_DATABASE=its
MYSQL_CHARSET=utf8mb4
MYSQL_CONNECT_TIMEOUT=10
MYSQL_MAX_CONNECTIONS=5

# MCP配置
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/api/v1/mcps/WebSearch/mcp
BAIDUMAP_AK=your-baidumap-ak

# 知识库配置
KNOWLEDGE_BASE_URL=http://127.0.0.1:8001
